<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="header d-flex flex-row justify-content-between align-items-center w-100">
        <div>
            <img src="../assets/ifsc_logo.png" alt="IFSC">
        </div>
        <div class="menu">
            <ul class="d-flex flex-row justify-content-between align-items-center">
                <li (click)="setTab('salas')" class="d-flex flex-column justify-content-end align-items-center">
                    Salas
                    <span [ngClass]="{active: tab == 'salas'}"></span>
                </li>
                <li (click)="setTab('pesquisa')" class="d-flex flex-column justify-content-end align-items-center">
                    Sala de pesquisa
                    <span [ngClass]="{active: tab == 'pesquisa'}"></span>
                </li>
                <li (click)="setTab('menu')" class="d-flex flex-column justify-content-end align-items-center">
                    Cardápio
                    <span [ngClass]="{active: tab == 'menu'}"></span>
                </li>
            </ul>
        </div>
    </div>

    <!-- Salas -->
    <div *ngIf="tab == 'salas'" class="schedule w-100">
        <!-- Indice -->
        <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <span class="setDay" tabindex="0" (click)="setDay(-1)"><</span>
                <p class="m-1">{{today | date:'fullDate'}}</p>
                <span class="setDay" tabindex="0" (click)="setDay(1)">></span>
            </div>
        </div>
        <div class="indice d-flex flex-row align-items-center"> 
            <div *ngFor="let i of hours" class="hour d-flex flex-column justify-content-center align-items-center">
                {{i.hour}}
            </div>
        </div>
        <!-- Evento -->
        <div class="events d-flex flex-row align-items-center justify-content-start" *ngFor="let course of courses">
            <!-- Icone -->
            <div class="iconOuter d-flex flex-row justify-content-center align-items-center">
                <div class="icon d-flex align-items-center">{{course.name | slice:0:30}} - {{course.period}}</div>
            </div>
            <!-- linha do tempo -->
            <div class="timeline d-flex align-items-center">
                <div class="event d-flex align-items-center" *ngFor="let event of course.schedule" [style.margin-left.vw]="event.start" [style.width.vw]="event.end - event.start">{{event.name | slice:0:40}} - {{event.create_by}}</div>
            </div>
        </div>
    </div>

    <div *ngIf="tab == 'pesquisa'" class="computers d-flex flex-row flex-wrap justify-content-center align-items-start">
        <div class="computer m-3 d-flex flex-column justify-content-center align-items-center" *ngFor="let computer of computers">
            <img class="icon" src="../assets/coding.svg" alt="Computador">
            {{computer.idPc}}
            <div *ngIf="computer.disponivel" class="disponivel">Disponivel</div>
            <div *ngIf="!computer.disponivel" class="indisponivel">indisponivel</div>
        </div>
    </div>

    <div *ngIf="tab == 'menu'" class="mt-5 menu d-flex flex-row justify-content-start align-items-center w-100">
        <!-- {"id":68,"dia":18,"mes":12,"ano":2019,"primeiroPrato":"Arroz Branco e Integral","segundoPrato":"Feijão Carioca","terceiroPrato":"Carne moída com ovos","quartoPrato":"Fricassê de Frango","quintoPrato":"Legumes ao forno","sextoPrato":"Farofa Crocante","setimoPrato":"Saladas"} -->
        <div *ngFor="let menu of menu | orderBy: ['ano','mes','dia']" class="d-flex flex-column justify-content-start align-items-center card m-2 p-2 col-md-2">
            <div>
                {{menu.dia}}/{{menu.mes}}/{{menu.ano}}
            </div>
            <hr/>
            <ul>
                <li>{{menu.primeiroPrato}}</li>
                <li>{{menu.segundoPrato}}</li>
                <li>{{menu.terceiroPrato}}</li>
                <li>{{menu.quartoPrato}}</li>
                <li>{{menu.quintoPrato}}</li>
            </ul>

        </div>
    </div>

</div>